{% extends "base.html" %}
{% block title %} - Post Creation{% endblock %}
{#{% block headlink %}<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">{% endblock %}#}

{% block body %}

    <div class="row col-sm-12 container">
        <div class="row center-align">
            <h4 class="header" style="color: #ee6e73">发布新文章</h4>
        </div>
        <form class="col s12" method="post" action="{{ url_for('.new_post') }}" id="comment">
            {{ form.hidden_tag() }}
            <div class="input-field col s12">
                {{ form.title.label }}
                {{ form.title(class_='validate') }}
                {% if form.title.errors %}
                    {% for e in form.title.errors %}
                        <p class="help-block alert-danger">{{ e }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="input-field col s12">
                {{ form.text.label }}
                <div class="col-sm-12"><br><br></div>
                {{ form.text(class_='validate', id='editor') }}
                {% if form.text.errors %}
                    {% for e in form.text.errors %}
                        <p class="help-block alert-danger">{{ e }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col s12"><br></div>

{#            <div class="col s12" id="app">#}
{#                <markdown-editor v-model="content"></markdown-editor>#}
{#            </div>#}

            <div class="col s12">
                <input id="embed-submit" class="waves-effect waves-light btn col s3" style="background-color: #ee6e73" type="submit" value="确认发布">
            </div>
        </form>
    </div>

{% endblock %}

{% block script %}
    {{ super() }}
    <script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'editor' );
    </script>

{#    <script src="http://cdn.bootcss.com/vue/2.1.4/vue.min.js"></script>#}
{#      <!-- markdown editor component -->#}
{#      <script src="{{ url_for('static', filename='js/index.js') }}"></script>#}
{#      <script type="text/javascript">#}
{#        var vue = new Vue({#}
{#          el: '#app',#}
{#          data: { content: '# hello world' }#}
{#        })#}
{#      </script>#}
{% endblock %}

