{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block tip %}{{ user.username }}{% endblock %}

{% block explain %}
    <img class="img-rounded profile-thumbnail" src="{{ info.gravatar(size=256) }}"><br />
    {% if info.region %}
    From：{{ info.region }}<br>
    {% endif %}
    {% if info.gender %}
    Gender：{{ info.gender }}<br>
    {% endif %}
    个人简介：
    {% if info.introduction %}
    {{ info.introduction }}
    {% else %}
    这个人很懒哦，还没有个人介绍。
    {% endif %}
    <br />
    {% if current_user.is_administrator() %}
    <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', uid=user.uid) }}">
            Edit Profile [Admin]
        </a>
    {% endif %}
    {% if user.account == current_user %}
        {% if user.student_id %}
        <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">
            Edit Profile
        </a>
        {% else %}
        <a class="btn btn-default" href="{{ url_for('.complete_profile') }}">
            Complete Profile
        </a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block page_content %}
{#    <h3>Posts by: {{ user.username }}</h3>#}
{#    {% include '_posts.html' %}#}
{#    <div class="pagination">#}
{#        {{ macros.pagination_widget(pagination, '.index') }}#}
{#    </div>#}
    <p>Last Seen: {{ user.last_seen }}</p>
{% endblock %}