{% macro render_pagination(pagination, endpoint) %}

        <ul class="pagination center-align">
            <li>
                {% if pagination.has_prev %}
                    <a href="{{ url_for(endpoint, page=pagination.prev().page) }}" aria-label="Previous">}
                {% else %}
                    <a href="" aria-label="Previous">
                {% endif %}
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page != pagination.page %}
                        <li>
                            <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li><a style="background-color: #ee6e73; color: white" href="">{{ page }}</a></li>
                    {% endif %}
                {% else %}
                    <li><a>…</a><li>&nbsp;
                {% endif %}
            {% endfor %}
            <li>
                {% if pagination.has_next %}
                    <a href="{{ url_for(endpoint, page=pagination.next().page) }}" aria-label="Next">
                {% else %}
                    <a href="" aria-label="Next">
                {% endif %}
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
{% endmacro %}

{% macro sidebar() %}

        <div class="col s3">
            <ul class="collection with-header">
                <li class="collection-header red-text text-lighten-1"><h4>Recent Posts</h4></li>
                {% for post in recent %}
                      <a class="collection-item" href="{{ url_for('blog.post', post_id=post.id) }}">{{ post.title }}</a>
                {% endfor %}
            </ul>
            <ul class="collection with-header">
                <li class="collection-header red-text text-lighten-1"><h4>Popular Tags</h4></li>
                {% for tag in top_tags %}
                      <a class="collection-item" href="{{ url_for('blog.tag', tag_name=tag[0].title) }}">{{ tag[0].title }}</a>
                {% endfor %}
            </ul>
        </div>

{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Patrick's Space{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">

    <script src="https://use.fontawesome.com/14c3416ccc.js"></script>
    <script src="{{ url_for('static', filename='js/gt.js') }}"></script>
    <style>
        body {
          display: flex;
          min-height: 100vh;
          flex-direction: column;
        }

        main {
          flex: 1 0 auto;
        }

        textarea.materialize-textarea, input[type=text], input[type=tel], input[type=email] {
          border-bottom: 1px solid white;
        }

        .input-field label {
          color: white;
        }

        #comment .input-field label {
          color: #ee6e73;
        }

        #comment textarea.materialize-textarea {
          border-bottom: 1px solid #ee6e73;
        }

        #comment input[type=text], input[type=password] {
          border-bottom: 1px solid #ee6e73;
        }

        .slider .indicators .indicator-item.active {
          background-color: #ee6e73;
        }

        .card.small {
          height: 500px;
        }

        .card.small .card-image, .card.medium .card-image, .card.large .card-image {
          max-height: 70%;
          overflow: hidden;
        }

        .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
          color: #ee6e73;
          margin-right: 24px;
          transition: color .3s ease;
          text-transform: uppercase;
        }

        .pagination li a {
            border: none;
        }

      </style>

</head>
<body>
  <nav>
        <div class="container">
        <div class="nav-wrapper">
          <p href="#!" class="brand-logo">Patrick's Space</p>
          <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ url_for('blog.home') }}">主页</a></li>
            {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('main.login') }}">登录</a></li>
            {% else %}
            <li><a href="{{ url_for('blog.user', username=current_user.username) }}">个人空间</a></li>
            <li><a href="{{ url_for('main.logout') }}">登出</a></li>
            {% endif %}
          </ul>

          <ul id="slide-out" class="side-nav">
            <li><div class="userView">
              <div class="background">
                <img src="https://okdkbnczs.qnssl.com/img/sidebar.jpg">
              </div>
              <a href="#!user"><img class="circle" src="https://okdkbnczs.qnssl.com/img/avatar.jpg"></a>
              <a href="#!name"><span class="white-text name">Patrick</span></a>
              <a href="#!email"><span class="white-text email">chengtiyanyang@gmail.com</span></a>
            </div></li>
            <li><a class="waves-effect" href="#"><i class="material-icons">home</i>主页</a></li>
            <li><a class="waves-effect" href="#"><i class="material-icons">person_pin</i>个人空间</a></li>
            <li><a class="waves-effect" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>登录</a></li>
            <li><a class="waves-effect" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>登出</a></li>
          </ul>
        </div>
        </div>
      </nav>

  <div class="slider">
    <ul class="slides">
      <li>
        <img src="{{ url_for('static', filename='img/rainbow.jpg') }}">
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="{{ url_for('static', filename='img/purple.jpg') }}">
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>

  <div class="col s12 container">
      {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
      {% endfor %}
  </div>

  {% block body %}

  {% endblock %}

        <footer class="page-footer white-text">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <form class="col s12">
                <h5 class="white-text">保持联系</h5>
                <p class="grey-text text-lighten-4">我非常愿意和优秀的你成为朋友呢～</p>
                <div class="input-field col s6">
                  <i class="fa fa-user-circle prefix" aria-hidden="true"></i>
                  <input id="c_name" type="text" class="validate">
                  <label for="c_name">姓名/昵称</label>
                </div>

                <div class="input-field col s6">
                  <i class="fa fa-envelope-o prefix" aria-hidden="true"></i>
                  <input id="c_email" type="email" class="validate">
                  <label for="c_email">邮箱</label>
                </div>
                <div class="input-field col s12">
                  <i class="fa fa-pencil-square-o prefix" aria-hidden="true"></i>
                  <textarea id="c_text" class="materialize-textarea"></textarea>
                  <label for="c_text">我想说...</label>
                </div>
                <button class="btn waves-effect waves-light red lighten-3" type="submit" name="action" onclick="contactSubmit()">提交
                  <i class="material-icons right">send</i>
                </button>
              </form>
              </div>
              <div class="col l4 offset-l2 s12">
                <h4 class="white-text">更多联系方式</h4>
                <div class="row">
                  <div class="col s12">
                    <i class="small fa fa-weibo prefix" aria-hidden="true"></i>
                    <a class="white-text text-lighten-3" style="font-size: 1.5rem" href="http://weibo.com/u/2867516010?refer_flag=1001030101_">&nbsp;微博</a>
                  </div>
                  <div class="col s12">
                    <i class="small fa fa-github prefix" aria-hidden="true"></i>
                    <a class="white-text text-lighten-3" style="font-size: 1.5rem" href="https://github.com/Patrickctyyx">&nbsp;GitHub</a>
                  </div>
                  <div class="col s12">
                    <i class="small fa fa-twitter prefix" aria-hidden="true"></i>
                    <a class="white-text text-lighten-3" style="font-size: 1.5rem" href="https://twitter.com/patrickchengty">&nbsp;Twitter</a>
                  </div>
                  <div class="col s12">
                    <i class="small fa fa-instagram prefix" aria-hidden="true"></i>
                    <a class="white-text text-lighten-3" style="font-size: 1.5rem" href="https://www.instagram.com/patrickcty/">&nbsp;Instagram</a>
                  </div>
                  <div class="col s12">

                  </div>
                  <div class="col s12">
                    <div class="card red lighten-2">
                    <div class="card-content white-text">
                      <span class="card-title">信条</span>
                      <p>不妥协，不合群。</p>
                    </div>
                  </div>
                </div>

                </div>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            	Copyright &copy;&nbsp;2017 Patrick's Space
            <a class="grey-text text-lighten-4 right" href="#!">Powered by Materialize.</a>
            </div>
          </div>
        </footer>

  {% block script %}
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
      <script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script>
      $(".button-collapse").sideNav();

      $(document).ready(function(){
        $('.slider').slider();
        $('.slider').height(640);
        $('.slides').height(600);
      });
      </script>
      <script>
          var contactSubmit = function () {
              $.ajax({
                  type: "post",
                  url: "/api/contact",
                  data: {
                      c_name: $("#c_name").val(),
                      c_email: $("#c_email").val(),
                      c_text: $("#c_text").val()
                  },
                  dataType: "json",
                  success: alert('提交成功！')
              });
          }
      </script>
  {% endblock %}
</body>
</html>