{% extends "blog/base.html" %}
{% block title %} - 403 Forbidden{% endblock %}

{% block body %}
    <div class="row col-sm-12">
        <div class="col s9 center-align container">
            <h1>403 Forbidden</h1>
        </div>
        <div class="col s3">
            <ul class="collection with-header">
                <li class="collection-header red-text text-lighten-1"><h4>Recent Posts</h4></li>
                {% for post in recent %}
                      <a class="collection-item" href="{{ url_for('blog.post', post_id=post.id) }}">{{ post.title }}</a>
                {% endfor %}
            </ul>
            <ul class="collection with-header">
                <li class="collection-header red-text text-lighten-1"><h4>Popular Tags</h4></li>
                {% for tag in top_tags %}
                      <a class="collection-item" href="{{ url_for('blog.tag', tag_name=tag[0].title) }}">{{ tag[0].title }}</a>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}